In [2]:
data=pd.read_csv('Bengaluru_House_Data.csv')

In [3]:
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
data.shape

(13320, 9)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [6]:
for column in data.columns:
    print(data[column].value_counts())
    print('*'*20)

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64
********************
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: availability, Length: 81, dtype: int64
********************
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64
********************
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64
********************
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: society, Length: 2688, dtype: int64
********************
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: total_sqft, Length: 2117, dtype: int64
********************
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64
********************
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: balcony, dtype: int64
********************
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: price, Length: 1994, dtype: int64
********************

In [7]:
data.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [8]:
data.drop(columns=['area_type','availability','balcony','society'],inplace=True)

In [9]:
data.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [10]:
data.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [11]:
data['location'].value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [12]:
data['location']=data['location'].fillna('Whitefield')

In [13]:
data['size']=data['size'].fillna('2 BHK')

In [14]:
data['bath']=data['bath'].fillna(data['bath'].median())

In [15]:
data.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [17]:
data['bhk']=data['size'].str.split().str.get(0).astype(int)

In [18]:
data.head()

                   location       size total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2

In [19]:
data['bhk'].value_counts()

2     5544
3     4857
4     1417
1      656
5      356
6      221
7      100
8       89
9       54
10      14
11       4
27       1
19       1
16       1
43       1
14       1
12       1
13       1
18       1
Name: bhk, dtype: int64

In [20]:
index=data[data['bhk']>11].index
data.drop(data.index[index],inplace=True)

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13312 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13312 non-null  object
 1   size        13312 non-null  object
 2   total_sqft  13312 non-null  object
 3   bath        13312 non-null  float64
 4   price       13312 non-null  float64
 5   bhk         13312 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 728.0+ KB

In [22]:
data[data['total_sqft'].str.contains('-')]

                 location       size   total_sqft  bath    price  bhk
30              Yelahanka      4 BHK  2100 - 2850   4.0  186.000    4
56            Devanahalli  4 Bedroom  3010 - 3410   2.0  192.000    4
81            Hennur Road  4 Bedroom  2957 - 3450   2.0  224.500    4
122                Hebbal      4 BHK  3067 - 8156   4.0  477.000    4
137    8th Phase JP Nagar      2 BHK  1042 - 1105   2.0   54.005    2
...                   ...        ...          ...   ...      ...  ...
12990      Talaghattapura      3 BHK  1804 - 2273   3.0  122.000    3
13059              Harlur      2 BHK  1200 - 1470   2.0   72.760    2
13240         Devanahalli      1 BHK  1020 - 1130   2.0   52.570    1
13265               Hoodi      2 BHK  1133 - 1384   2.0   59.135    2
13299          Whitefield      4 BHK  2830 - 2882   5.0  154.500    4

[201 rows x 6 columns]

In [23]:
def convertrange(x):
    temp=x.split('-')
    if len(temp)==2:
        return (float(temp[0])+float(temp[1]))/2
    try:
        return(float(x))
    except:
        return None

In [24]:
data['total_sqft']=data['total_sqft'].apply(convertrange)

In [25]:
data.head()

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

In [26]:
data['price_persqft']=data['price']*100000/data['total_sqft']

In [27]:
data.head()

,location,size,total_sqft,bath,price,bhk,price_persqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000

In [28]:
data.describe()

         total_sqft          bath         price           bhk  price_persqft
count  13266.000000  13312.000000  13312.000000  13312.000000   1.326600e+04
mean    1558.116820      2.679087    112.420684      2.792293   7.904313e+03
std     1234.839073      1.256911    148.835619      1.198962   1.064614e+05
min        1.000000      1.000000      8.000000      1.000000   2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000   4.266667e+03
50%     1276.000000      2.000000     72.000000      3.000000   5.433101e+03
75%     1680.000000      3.000000    120.000000      3.000000   7.308979e+03
max    52272.000000     14.000000   3600.000000     11.000000   1.200000e+07

In [29]:
data['location']=data['location'].apply(lambda x: x.strip())
location_count=data['location'].value_counts()

In [30]:
location_lessthan10=location_count[location_count<=10]

In [31]:
data['location']=data['location'].apply(lambda x: 'other' if x in location_lessthan10 else x )

In [32]:
data['location'].value_counts()

other                 2879
Whitefield             542
Sarjapur  Road         399
Electronic City        304
Kanakpura Road         273
                      ...
Nehru Nagar             11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: location, Length: 242, dtype: int64

In [33]:
data=data[((data['total_sqft']/data['bhk'])>=300)]
data.describe()

         total_sqft          bath         price           bhk  price_persqft
count  12528.000000  12528.000000  12528.000000  12528.000000   12528.000000
mean    1593.587862      2.557631    111.334330      2.648946    6304.142100
std     1258.668794      1.067245    152.031936      0.965025    4162.549406
min      300.000000      1.000000      8.440000      1.000000     267.829813
25%     1116.000000      2.000000     49.000000      2.000000    4210.526316
50%     1300.000000      2.000000     70.000000      3.000000    5294.117647
75%     1700.000000      3.000000    115.000000      3.000000    6916.666667
max    52272.000000     14.000000   3600.000000     11.000000  176470.588235

In [34]:
data.shape

(12528, 7)

In [35]:
def remove_outliers_sqft (df):
    df_output = pd.DataFrame()
    for key, subdf in df.groupby('location'):
        m = np.mean (subdf.price_persqft)
        st = np.std (subdf.price_persqft)
        gen_df = subdf[(subdf.price_persqft > (m-st)) & (subdf.price_persqft <= (m+st))]
        df_output = pd.concat([df_output, gen_df], ignore_index =True)
    return df_output
data = remove_outliers_sqft (data)
data.describe()

         total_sqft          bath         price           bhk  price_persqft
count  10299.000000  10299.000000  10299.000000  10299.000000   10299.000000
mean    1507.235819      2.469366     91.223995      2.572580    5659.135602
std      875.945163      0.964866     86.213748      0.881969    2265.986759
min      300.000000      1.000000     10.000000      1.000000    1250.000000
25%     1110.000000      2.000000     49.000000      2.000000    4244.830457
50%     1286.000000      2.000000     67.000000      2.000000    5175.600739
75%     1650.000000      3.000000    100.000000      3.000000    6428.571429
max    30400.000000     12.000000   2200.000000     11.000000   24509.803922

In [36]:
def bhk_outlier_remover (df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('location'): 
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean (bhk_df.price_persqft),
                'std': np.std (bhk_df.price_persqft), 
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats=bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df [bhk_df.price_persqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices, axis='index')

In [37]:
data=bhk_outlier_remover (data)

In [38]:
data.shape

(7359, 7)

In [39]:
data.drop(columns=['size','price_persqft'],inplace=True)

In [40]:
data.to_csv('cleaned_data.csv')

In [41]:
x=data.drop(columns=['price'])
y=data['price']

In [42]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score
from sklearn import metrics

In [43]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [44]:
print(x_train.shape)
print(x_test.shape)

(5887, 4)
(1472, 4)

In [45]:
column_trans=make_column_transformer((OneHotEncoder(sparse=False),['location']),remainder='passthrough')

In [46]:
scalar=StandardScaler()

In [47]:
lr=LinearRegression()

In [48]:
pipe=make_pipeline(column_trans,scalar,lr)

In [49]:
pipe.fit(x_train,y_train)

/Users/ujjwal/anaconda3/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [50]:
y_pred_lr=pipe.predict(x_test)

In [51]:
r2_score(y_test,y_pred_lr)

0.8107360022098474

In [52]:
print(metrics.mean_absolute_error(y_test,y_pred_lr))
print(metrics.mean_squared_error(y_test,y_pred_lr))
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred_lr)))

19.785559179609066
1469.92104681029
38.33954938194097

In [62]:
import pickle

In [63]:
pickle.dump(pipe,open('linearregressionmodel.pkl','wb'))

In [65]:
data.head()

              location  total_sqft  bath  price  bhk
0  1st Block Jayanagar      2850.0   4.0  428.0    4
1  1st Block Jayanagar      1630.0   3.0  194.0    3
2  1st Block Jayanagar      1875.0   2.0  235.0    3
3  1st Block Jayanagar      1200.0   2.0  130.0    3
4  1st Block Jayanagar      1235.0   2.0  148.0    2

In [100]:
result=pipe.predict(pd.DataFrame([['5th Phase JP Nagar',1070,3,3]],columns=['location','total_sqft','bath','bhk']))
print(round(result[0],2),"lakhs")

49.0 lakhs